.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px; /* Adjust the gap between the cards */
  margin: 16px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.card-body {
  padding: 16px;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}


.spinner-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

