<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add task
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form-container" [formGroup]="bookform" (ngSubmit)="onsubmit($event)" novalidate>
          <div class="form-group">
            <label for="validationCustom01" class="form-label">Title</label>
            <input type="text" class="form-control" formControlName="title" required>
          </div>

          <div class="form-group">
            <label for="validationCustom02" class="form-label">Author</label>
            <input type="text" class="form-control" formControlName="author" required>
          </div>

          <div class="form-group">
            <label for="validationCustomUsername" class="form-label">Description</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" formControlName="description" required>
            </div>
          </div>

          <div class="col-md-3">
            <label for="validationCustom04" class="form-label">State</label>
            <select class="form-select" id="validationCustom04" formControlName="progress" required>
              <option selected  *ngFor="let progress  of progressOptions" [value]="progress.value">{{progress.viewValue}}</option>

              <option></option>
            </select>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">{{task?.id ? 'Update' : 'Add'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
