<div class="home-container">
  <header class="home-header">
    <h1>Welcome to Books Management Sytem</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, saepe!</p>
  </header>

  <section class="home-features">
    <div class="feature-card">
      <h2>Lorem ipsum dolor sit.</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      <button mat-raised-button color="primary">Start Now</button>
    </div>

    <div class="feature-card">
      <h2>Lorem ipsum dolor sit.</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      <button mat-raised-button color="accent">Set Goals</button>
    </div>

    <div class="feature-card">
      <h2>Lorem ipsum dolor sit.</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      <button mat-raised-button color="warn">View Progress</button>
    </div>
  </section>


</div>
